/* Widget styles */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -75px 0px 0px -75px;
}
.loader .glyphicon {
    color: #fb9eb0;
    font-size: 150px;
}
.title h4 {
    text-align: center;
    font-size: 1.5em;
}
.widget-body hr {
    margin: 5px 0px;
}
.photo-holder {
    width: 100%;
   
}
.photo-holder img {
    border-radius: 50%;
    width: 100%;
}
.check-in-time .items {
    background-color: #fb9eb0;
    border: solid 1px #fff;
    text-align: center;
    padding: 2px 0;
}
.check-in-time .items div{
    color: black;
    font-weight: bold;
}
.check-in-time .items.free{
    background-color: #ffd2dd;
    cursor: pointer;
}
.check-in-btn {
    background-color: #ffd2dd;
    border: 0px;
}
.check-in-btn:hover {
    color: #333;
    background-color: #fb9eb0;
    border-color: #ffd2dd;
}
.check-in-data-holder {
    text-align: center;
    font-size: 1.5em;
}
.check-in-date-left,
.check-in-date-right {
    padding: 10px;
    cursor: pointer;
}
.menu-panel {
    background-color: #fb9eb0;
    font-size: 1.8em;
    padding: 5px;
    margin-bottom: 10px;
}
.menu-panel .button {
    padding: 5px 10px;
    cursor: pointer;
      color: white;
}
.menu-panel .title {
    color: white;
}
.job-list .item {
    cursor: pointer;
}
.job-list .item.even {
    background: #eee;
    padding: 8px 10px;
}
.job-list .item.odd {
    background: #fff;
    padding: 8px 10px;
   
}
.form-job-list {
    font-size: 1.3em;
}
.form-job-list .delete {
    cursor: pointer;
    
}

span.freetime:before, span.busy:before {
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-bottom: -3px;
    margin-right: 3px;
    border-radius: 7px;
    border: 2px solid #fff;
    background-color: #FFCCDB;
}
span.busy:before {
    background-color: #EC94AC;
}
.finish-message {
    font-size: 1.5em;
    width: 70%;
    margin: 0 auto;
    margin-top: 20%;
    text-align: center;
}
/* Animation */
.animate-show {
  opacity: 1;
}
.animate-show.ng-hide-add
{
    transition: all linear 5s;
}
.animate-show.ng-hide-remove {
    transition: all linear 5s;
}
.animate-show.ng-hide {
  opacity: 0;
}

.animate-show.ng-hide-add, .my-element.ng-hide-remove {
  /* this is required as of 1.3x to properly
     apply all styling in a show/hide animation */
  transition: 0s linear all;
}

.animate-show.ng-hide-add-active,
.animate-show.ng-hide-remove-active {
  /* the transition is defined in the active class */
  transition: 1s linear all;
}

.animate-show.ng-hide-add { display: none; }
.animate-show.ng-hide-add.ng-hide-add-active {  }
.animate-show.ng-hide-remove {  }
.animate-showt.ng-hide-remove.ng-hide-remove-active {  }