/* Widget styles */
.title h4 {
    text-align: center;
    font-size: 1.5em;
}
.widget-body hr {
    margin: 5px 0px;
}
.photo-holder {
    width: 100%;
   
}
.photo-holder img {
    border-radius: 50%;
    width: 100%;
}
.check-in-time .items {
    background-color: #fb9eb0;
    border: solid 1px #fff;
    text-align: center;
    padding: 2px 0;
}
.check-in-time .items a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.check-in-time .items.free{
    background-color: #ffd2dd;
}
.check-in-btn {
    background-color: #ffd2dd;
    border: 0px;
}
.check-in-data-holder {
    text-align: center;
    font-size: 1.5em;
}
.check-in-date-left,
.check-in-date-right {
    padding: 10px;
}
.menu-panel {
    background-color: #fb9eb0;
    font-size: 1.8em;
    padding: 5px;
    margin-bottom: 10px;
}
.job-list .item.even {
    background: #eee;
    padding: 8px 10px;
}
.job-list .item.odd {
    background: #fff;
    padding: 8px 10px;
   
}

span.freetime:before, span.busy:before {
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-bottom: -3px;
    margin-right: 3px;
    border-radius: 7px;
    border: 2px solid #fff;
    background-color: #FFCCDB;
}
span.busy:before {
    background-color: #EC94AC;
}
