<div class="jumbotron">
  <h1>ITN My-colybry Wigdet</h1>
 </div>

<div class="row">
  
  <div>
      <h4>{{main.currentMasterName()}}</h4>
      <label for="master">Мастер: </label>
      <select name="master"  ng-model="main.currentMaster">
          <option ng-repeat="(key, value) in main.mastersList.data" value="{{value.id}}">{{value.name}}</option>
      </select>
    
  </div>
  
  <div>
      <h4>  DEVELOPMENT LOGS </h4>
    <div ng-repeat="(key, value) in main.data" >
      <div>{{value.id}} - {{value.name}}</div>
    </div>
  </div>
</div>
