<div class="widget-body">
    <!--LOADER-->
    <div class="main-screen animate-show" ng-show="main.activeScreen == -1">
        <div class="loader" title="Загрузка ...">
            <span class="glyphicon glyphicon-time"></span>
        </div>
    </div>
    <!--MAIN SVREEN-->
    <div class="main-screen animate-show" ng-show="main.activeScreen == 0">
        <div class="row title">
            <div class="col-xs-12">
                <h4>Онлайн запись</h4>
            </div>
        </div>
        <hr>
        <div class="row check-in-data-holder">
            <div class="col-xs-12">
                <a ng-if="main.checkInDate > 0" ng-click="main.prevCheckInDate()"><span class="glyphicon glyphicon-chevron-left check-in-date-left"></span></a>
                <span class="check-in-date">{{main.getDate(main.checkInDate)}}</span>
                <a ng-click="main.nextCheckInDate()"><span class="glyphicon glyphicon-chevron-right check-in-date-right"></span></a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-4">
                <div class="photo-holder">
                    <img ng-src="{{(main.currentMaster) ? main.currentMaster.photo:''}}"/>
                </div>
            </div>    

            <div class="col-xs-8">
                <h4>{{main.currentMaster.name}}</h4>
                <div class="form-group">
                    <select ng-model="main.currentMaster" class="form-control" ng-options="option.name for option in  main.mastersList.data track by option.id" ></select>     
                </div>
                <hr>
                <div class="text-center status-list">
                    <span class="freetime">свободно</span>
                    <span class="busy">занято</span>
                </div>
                <div ng-repeat="item in main.recTimes.data" class="check-in-time">
                    <div class="clearfix" ng-if="$index % 4 == 0"></div>
                    <div class="col-xs-3 items" ng-class="{free: item.free || item.free == null }">
                        <div ng-if="item.free || item.free == null"  ng-click="main.checkIn(item)">{{item.time}}</div>
                        <div ng-if="!(item.free || item.free == null)">{{item.time}}</div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <!--FORM SCREEN-->
    <div class="form-screen animate-show" ng-show="main.activeScreen == 1" >
        <div class="row menu-panel">
            <div class="button" ng-click="main.activeScreen = 0">
                <span class="glyphicon glyphicon-chevron-left" ng-click="main.goBack(1)"></span>
                <span class="title">Назад</span>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-4">
                <div class="photo-holder">
                    <img ng-src="{{(main.currentMaster) ? main.currentMaster.photo:''}}"/>
                </div>
            </div>    
            <div class="col-xs-8">
                <h4>{{main.currentMaster.name}}</h4>
                <hr>
                <h4>Запись на {{main.getDate(main.checkInDate)}} ({{main.checkInTime.time}})</h4>
            </div>
        </div>
        <div class="row"> 

            <div class="col-xs-12">
                <form ng-submit="main.activeScreen = 3">
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input ng-model="main.clientReguest.name" type="text" class="form-control" id="name" placeholder="Имя" required="">
                    </div>
                    <div class="form-group">
                        <label for="lastename">Фамилия</label>
                        <input ng-model="main.clientReguest.lastname"  type="text" class="form-control" id="lastename" placeholder="Фамилия" required="">
                    </div>
                    <div class="form-group">
                        <label for="phone">Телефон (формат xxx-xxx-xx-xx)</label>
                        <input ng-model="main.clientReguest.phone"  type="text" id="phone" class="form-control" placeholder="Телефон" pattern="^\d{3}-\d{3}-\d{2}-\d{2}$" required>

                    </div>
                    <div class="form-group">
                        <a class="btn btn-default" ng-click="main.activeScreen = 2"><span class="glyphicon glyphicon-edit"></span> Услугу </a>
                    </div>
                    <div class="form-group">

                        <div ng-repeat="item in main.selectedJobs()" class="selectable form-job-list">
                            <div  ng-class="{ selected: item[3] }">
                                <span class="glyphicon glyphicon-remove-circle delete" ng-click="main.selectJob(item)"></span>
                                <span class="title">{{item[1]}}({{item[2]}})</span>
                            </div>
                        </div> 

                    </div><!-- /input-group -->
                    <div class="input-group">
                        <input value="Записатся" type="submit" class="btn btn-default btn-primary btn-lg check-in-btn" />
                    </div><!-- /input-group -->

                </form>
            </div>
        </div>
    </div>
    <!--SELECT SCREEN-->
    <div class="jobs-screen animate-show" ng-show="main.activeScreen == 2">
        <div class="row menu-panel">
            <div class="button" ng-click="main.activeScreen = 1">
                <span class="glyphicon glyphicon-check" ng-click="main.goBack(1)"></span>
                <span class="title">Выбрать</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 job-list">
                <div ng-repeat="item in main.jobsList.data" ng-click="main.selectJob(item)" class="selectable item" ng-class="{odd: $index % 2 == 0, even : $index % 2 != 0}">
                    <div ng-class="{ selected: item[3] }" >
                        <span class="glyphicon glyphicon-ok" ng-if="item[3]" ></span>
                        {{item[1]}} ({{item[2]}} минут)
                    </div>
                </div> 
            </div>
        </div>

    </div>
    <!--FINISH SCREEN-->
    <div class="finish-screen animate-show" ng-show="main.activeScreen == 3">
        <div class="row menu-panel">
            <div class="button" ng-click="main.reload()">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="title">Записатся онлайн</span>
            </div>
        </div>
        <div class="finish-message">Ваш запрос в обработке. Ожидайте звонка менеджера.</div>
        
    </div>
</div>